/ task.txt
/#include <iostream>.cpp
/.DS_Store
/.vscode
/0210.cpp
/05.cpp
/0610.cpp
/07.cpp
/08.1.cpp
/08.cpp
/0810.cpp
/0910.cpp
/12.cpp
/1509.cpp
/21.cpp
/22.cpp
/23.cpp
/25.cpp
/28.cpp
/29.cpp
/30.cpp
/31.cpp
/9696.cpp
/Array.h
/Array.hpp
/ArrayMain.cpp
/Ester.code-workspace
/HealtCare.h
/Healthmain.cpp
/Spreadsheet.cpp
/a.out
/amenamec.cpp
/arr.cpp
/average.cpp
/bazmapatik.cpp
/binarsearchtrain.cpp
/binarvoronum.cpp
/binaryserachrec.cpp
/bit.cpp
/book.cpp
/book.h
/calculator.cpp
/chartox.cpp
/class.c
/class.cpp
/classcounter.cpp
/code.cpp
/cp31.cpp
/cp32.cpp
/cp33.cpp
/cp34.cpp
/cp35.cpp
/cp36.cpp
/das.cpp
/das1.cpp
/das2code.cpp
/dascal.cpp
/daskiraki.cpp
/daskiraki1.cpp
/dinamikstudent.cpp
/doctor.cpp
/doctor.h
/erankyun.cpp
/erankyuni.cpp
/evenorodd.cpp
/example.cpp
/fibonachi.cpp
/file.cpp
/file.h
/foo.cpp
/girq.cpp
/gorcnakan.cpp
/gorcnakan2.cpp
/gorcnakan2shopping.h
/implementstruct.cpp
/jermastijan.cpp
/library.cpp
/library.h
/linemaxsymbol.cpp
/linklist.cpp
/linklist.h
/linklist.hpp
/main.cpp
/managementsystem.cpp
/map.cpp
/mapcalculator.cpp
/mapstrset.cpp
/maxinarray.cpp
/mecatar.cpp
/medicalhistory.cpp
/medicalhistory.h
/min.cpp
/new1.cpp
/new10.cpp
/new2.cpp
/new3.cpp
/new4.cpp
/new5.cpp
/new6.cpp
/new7.cpp
/new8.cpp
/new9.cpp
/norxndir.cpp
/output
/pangram.cpp
/patient.cpp
/patient.h
/poxelpayman.cpp
/qarakusi.cpp
/queue.h
/reader.cpp
/reader.h
/recursivebinary.cpp
/reverse.cpp
/shox.cpp
/shrjeltoxy.cpp
/spreadsheet.h
/spreadsheetcell.cpp
/spreadsheetcell.h
/spreadsheetmain.cpp
/staticvriable.cpp
/string.cpp
/string.h
/strmove.cpp
/strset.cpp
/struct1509.cpp
/student.cpp
/student.h
/sumupN.cpp
/templatevector.h
/templatevector.hpp
/train.cpp
/triangle.cpp
/ttt.cpp
/tvanshannnerigumary.cpp
/unsignedintbit.cpp
/vector.h
/vector.hpp
/vectormain.cpp
/voidpack.cpp
/vowelcounter.cpp
/work.cpp
/xnd3.cpp
/xnd4.cpp
/xndir3strcat.cpp